{
  "openapi": "3.0.3",
  "info": {
    "title": "FormaOS API",
    "description": "FormaOS is a compliance management platform. This API provides programmatic access to organizations, tasks, evidence, compliance metrics, controls, members, webhooks, integrations, API keys, frameworks, AI chat, reports, notifications, data residency, SOC 2, certificates, and audit logs.\n\nAll API keys use the `fos_` prefix. Include the key as a Bearer token in the Authorization header.",
    "version": "1.0.0",
    "contact": {
      "name": "FormaOS API Support",
      "email": "Formaos.team@gmail.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://formaos.com",
      "description": "Production"
    },
    {
      "url": "https://staging.formaos.com",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Organizations",
      "description": "Organization overview and settings"
    },
    {
      "name": "Tasks",
      "description": "Task management and assignment"
    },
    {
      "name": "Evidence",
      "description": "Evidence artifact management"
    },
    {
      "name": "Compliance",
      "description": "Compliance metrics and scoring"
    },
    {
      "name": "Controls",
      "description": "Compliance controls and evaluations"
    },
    {
      "name": "Members",
      "description": "Organization member and invitation management"
    },
    {
      "name": "Webhooks",
      "description": "Webhook registration, delivery, and testing"
    },
    {
      "name": "Search",
      "description": "Cross-entity search"
    },
    {
      "name": "Integrations",
      "description": "Third-party integration management"
    },
    {
      "name": "API Keys",
      "description": "API key lifecycle management"
    },
    {
      "name": "Frameworks",
      "description": "Compliance frameworks and coverage"
    },
    {
      "name": "AI",
      "description": "AI compliance chat and conversations"
    },
    {
      "name": "Reports",
      "description": "Report generation and export"
    },
    {
      "name": "Notifications",
      "description": "User notifications"
    },
    {
      "name": "Data Residency",
      "description": "Data residency region configuration"
    },
    {
      "name": "SOC 2",
      "description": "SOC 2 readiness assessment and reporting"
    },
    {
      "name": "Certificates",
      "description": "Organization certifications"
    },
    {
      "name": "Audit Logs",
      "description": "Audit trail and activity logs"
    }
  ],
  "paths": {
    "/api/v1/organizations": {
      "get": {
        "summary": "Get organization overview",
        "description": "Returns the authenticated organization's details along with aggregate stats (member count, framework count, active API key count).",
        "operationId": "getOrganization",
        "tags": ["Organizations"],
        "security": [{ "apiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Organization details with stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "example": {
                  "data": {
                    "id": "org_abc123",
                    "name": "Acme Corp",
                    "stats": {
                      "memberCount": 12,
                      "frameworkCount": 3,
                      "apiKeyCount": 2
                    }
                  },
                  "meta": {}
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/tasks": {
      "get": {
        "summary": "List assigned tasks",
        "description": "Returns tasks assigned to the authenticated user, with optional filters by status and priority.",
        "operationId": "listTasks",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by task status",
            "schema": {
              "type": "string",
              "enum": ["pending", "in_progress", "completed", "blocked"]
            }
          },
          {
            "name": "priority",
            "in": "query",
            "description": "Filter by task priority",
            "schema": {
              "type": "string",
              "enum": ["low", "medium", "high", "critical"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (max 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tasks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Task" }
                    },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "status": { "type": "string" },
                    "priority": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/evidence": {
      "get": {
        "summary": "List evidence artifacts",
        "description": "Returns evidence artifacts for the organization, with optional filters by verification status and associated task.",
        "operationId": "listEvidence",
        "tags": ["Evidence"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by verification status",
            "schema": { "type": "string" }
          },
          {
            "name": "taskId",
            "in": "query",
            "description": "Filter by associated task ID",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (max 100)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of evidence artifacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evidence": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Evidence" }
                    },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "status": { "type": "string" },
                    "taskId": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/compliance": {
      "get": {
        "summary": "Get compliance metrics",
        "description": "Returns the organization's compliance score, risk level, task completion rates, evidence collection rates, and anomalies.",
        "operationId": "getComplianceMetrics",
        "tags": ["Compliance"],
        "responses": {
          "200": {
            "description": "Compliance metrics",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ComplianceMetrics" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/controls": {
      "get": {
        "summary": "List compliance controls",
        "description": "Returns paginated compliance controls with evidence status and evaluation data. Supports filtering by framework and text search.",
        "operationId": "listControls",
        "tags": ["Controls"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          {
            "name": "frameworkId",
            "in": "query",
            "description": "Filter by framework ID",
            "schema": { "type": "string" }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search query (matches title and code)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of controls",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedEnvelope" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Control" }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/controls/{controlId}": {
      "get": {
        "summary": "Get control detail",
        "description": "Returns a single compliance control with linked evidence, evaluation data, and full evidence records.",
        "operationId": "getControl",
        "tags": ["Controls"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "controlId",
            "in": "path",
            "required": true,
            "description": "Control ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Control detail",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/members": {
      "get": {
        "summary": "List members and invitations",
        "description": "Returns paginated organization members and pending invitations. Supports filtering by role and status.",
        "operationId": "listMembers",
        "tags": ["Members"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          {
            "name": "role",
            "in": "query",
            "description": "Filter by role",
            "schema": {
              "type": "string",
              "enum": ["owner", "admin", "member", "viewer"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status (e.g. 'invited')",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of members and invitations",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "summary": "Invite a new member",
        "description": "Sends an invitation email to a new team member. Requires admin access and `members:write` scope.",
        "operationId": "inviteMember",
        "tags": ["Members"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address to invite"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["owner", "admin", "member", "viewer"],
                    "default": "member",
                    "description": "Role to assign"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/members/{memberId}": {
      "get": {
        "summary": "Get member or invitation detail",
        "description": "Returns a single member or invitation by ID.",
        "operationId": "getMember",
        "tags": ["Members"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member or invitation ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Member or invitation detail",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update member role",
        "description": "Updates the role of a member or invitation. Requires admin access and `members:write` scope.",
        "operationId": "updateMemberRole",
        "tags": ["Members"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member or invitation ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["role"],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": ["owner", "admin", "member", "viewer"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Member updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Remove member or revoke invitation",
        "description": "Removes a member from the organization or revokes a pending invitation. Requires admin access and `members:write` scope.",
        "operationId": "removeMember",
        "tags": ["Members"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "description": "Member or invitation ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Member removed or invitation revoked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "summary": "List webhooks",
        "description": "Returns registered webhooks for the organization. Secrets are masked in responses.",
        "operationId": "listWebhooks",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled status",
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Webhook" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Create a webhook",
        "description": "Registers a new webhook URL with event subscriptions. The signing secret is returned only on creation -- store it securely.",
        "operationId": "createWebhook",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created (includes full secret)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": { "$ref": "#/components/schemas/Webhook" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/webhooks/{id}": {
      "get": {
        "summary": "Get webhook detail",
        "description": "Returns a single webhook's configuration. Optionally includes recent delivery history.",
        "operationId": "getWebhook",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": { "type": "string" }
          },
          {
            "name": "include_deliveries",
            "in": "query",
            "description": "Include recent delivery history",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "delivery_limit",
            "in": "query",
            "description": "Max deliveries to return (max 100)",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": { "$ref": "#/components/schemas/Webhook" },
                    "deliveries": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/WebhookDelivery" }
                    },
                    "delivery_count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "patch": {
        "summary": "Update a webhook",
        "description": "Updates webhook configuration (name, URL, events, enabled status, etc.). Only provided fields are updated.",
        "operationId": "updateWebhook",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": { "$ref": "#/components/schemas/Webhook" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "description": "Permanently removes a webhook and its delivery history.",
        "operationId": "deleteWebhook",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "id": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/webhooks/test": {
      "post": {
        "summary": "Send a test webhook event",
        "description": "Queues a test delivery to the specified webhook to verify connectivity.",
        "operationId": "testWebhook",
        "tags": ["Webhooks"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["webhookId"],
                "properties": {
                  "webhookId": {
                    "type": "string",
                    "description": "ID of the webhook to test"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Test event queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/webhooks/deliveries": {
      "get": {
        "summary": "List webhook deliveries",
        "description": "Returns paginated webhook delivery logs with optional filters by event type, status, and webhook ID.",
        "operationId": "listWebhookDeliveries",
        "tags": ["Webhooks"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          {
            "name": "event",
            "in": "query",
            "description": "Filter by event type",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by delivery status",
            "schema": { "type": "string" }
          },
          {
            "name": "webhook_id",
            "in": "query",
            "description": "Filter by webhook ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of deliveries",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/search": {
      "get": {
        "summary": "Search across entities",
        "description": "Performs a cross-entity search across tasks, evidence, controls, and members. Returns up to 10 results per entity type.",
        "operationId": "search",
        "tags": ["Search"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query string",
            "schema": { "type": "string", "minLength": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results grouped by entity type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "query": { "type": "string" },
                        "tasks": { "type": "array", "items": { "type": "object" } },
                        "evidence": { "type": "array", "items": { "type": "object" } },
                        "controls": { "type": "array", "items": { "type": "object" } },
                        "members": { "type": "array", "items": { "type": "object" } }
                      }
                    },
                    "meta": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/integrations": {
      "get": {
        "summary": "List integrations",
        "description": "Returns the integration catalog, connected integrations, and their status. Use the `view` query parameter to filter.",
        "operationId": "listIntegrations",
        "tags": ["Integrations"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "description": "Which view to return",
            "schema": {
              "type": "string",
              "enum": ["all", "catalog", "connected"],
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integrations list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/integrations/{integrationId}": {
      "post": {
        "summary": "Connect or test an integration",
        "description": "Connects a new integration or tests an existing connection. Set `action` to `test` to verify connectivity without modifying state, or `connect` (default) to establish the integration.",
        "operationId": "connectIntegration",
        "tags": ["Integrations"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "Integration type identifier (e.g., slack, jira, github)",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["connect", "test"],
                    "default": "connect"
                  },
                  "config": {
                    "type": "object",
                    "description": "Integration-specific configuration",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration connected or test result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "delete": {
        "summary": "Disconnect an integration",
        "description": "Disconnects a connected integration. Requires admin access.",
        "operationId": "disconnectIntegration",
        "tags": ["Integrations"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "Integration type identifier",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration disconnected",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/integrations/{integrationId}/events": {
      "get": {
        "summary": "Get integration event history",
        "description": "Returns recent event history for a specific integration.",
        "operationId": "getIntegrationEvents",
        "tags": ["Integrations"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "integrationId",
            "in": "path",
            "required": true,
            "description": "Integration type identifier",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum events to return (max 100)",
            "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration event history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "summary": "List API keys",
        "description": "Returns all API keys for the organization (active and revoked). Requires admin access.",
        "operationId": "listApiKeys",
        "tags": ["API Keys"],
        "security": [{ "apiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKey" }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "summary": "Create an API key",
        "description": "Creates a new API key. The plaintext key (prefixed with `fos_`) is returned only once -- store it securely. Requires admin access.",
        "operationId": "createApiKey",
        "tags": ["API Keys"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable name for the key"
                  },
                  "scopes": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Permission scopes for this key"
                  },
                  "rate_limit": {
                    "type": "integer",
                    "description": "Requests per minute (30-10000)",
                    "minimum": 30,
                    "maximum": 10000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created (includes plaintext key)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKey": { "$ref": "#/components/schemas/ApiKey" },
                        "key": {
                          "type": "string",
                          "description": "Plaintext API key (shown only once)"
                        }
                      }
                    },
                    "meta": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/api-keys/{keyId}": {
      "patch": {
        "summary": "Update or rotate an API key",
        "description": "Updates an API key's name, scopes, or rate limit. Set `rotate: true` to generate a new key value while preserving the key ID. Requires admin access.",
        "operationId": "updateApiKey",
        "tags": ["API Keys"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "API key ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "scopes": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "rate_limit": {
                    "type": "integer",
                    "minimum": 30,
                    "maximum": 10000
                  },
                  "rotate": {
                    "type": "boolean",
                    "description": "Set to true to rotate the key (generates new plaintext key)",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key updated (includes new plaintext key if rotated)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "delete": {
        "summary": "Revoke an API key",
        "description": "Permanently revokes an API key. The key cannot be used after revocation. Requires admin access.",
        "operationId": "revokeApiKey",
        "tags": ["API Keys"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "description": "API key ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/frameworks": {
      "get": {
        "summary": "List enabled frameworks",
        "description": "Returns paginated compliance frameworks enabled for the organization, including coverage and evaluation data.",
        "operationId": "listFrameworks",
        "tags": ["Frameworks"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of frameworks with coverage data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/ai/chat": {
      "post": {
        "summary": "Send AI chat message (streaming)",
        "description": "Sends a message to the AI compliance assistant and receives a streaming text response. The response includes a `X-Conversation-Id` header. Optionally provide a `conversationId` to continue an existing conversation, or a `templateId` to use a prompt template.",
        "operationId": "aiChat",
        "tags": ["AI"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "description": "User message to send to the AI assistant"
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Existing conversation ID to continue"
                  },
                  "templateId": {
                    "type": "string",
                    "description": "Prompt template ID to apply"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streaming text response",
            "headers": {
              "X-Conversation-Id": {
                "description": "The conversation ID (created or existing)",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "text/plain": {
                "schema": { "type": "string" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" },
          "503": {
            "description": "AI service not configured",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/v1/ai/conversations": {
      "get": {
        "summary": "List AI conversations",
        "description": "Returns paginated conversations for the authenticated user, most recent first.",
        "operationId": "listConversations",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "default": 0, "minimum": 0 }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived conversations",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated conversation list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Conversation" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Create a new conversation",
        "description": "Creates a new AI conversation with an optional title.",
        "operationId": "createConversation",
        "tags": ["AI"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "default": "New conversation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Conversation" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/ai/conversations/{id}": {
      "get": {
        "summary": "Get conversation with messages",
        "description": "Returns a conversation and its messages (paginated, chronological order).",
        "operationId": "getConversation",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation ID",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max messages to return (max 200)",
            "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 200 }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": { "type": "integer", "default": 0, "minimum": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation with messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversation": { "$ref": "#/components/schemas/Conversation" },
                    "messages": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/ChatMessage" }
                        },
                        "total": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "patch": {
        "summary": "Update conversation",
        "description": "Updates a conversation's title or archive status.",
        "operationId": "updateConversation",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation ID",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "New conversation title"
                  },
                  "archived": {
                    "type": "boolean",
                    "description": "Set true to archive, false to unarchive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Conversation" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "delete": {
        "summary": "Delete conversation",
        "description": "Permanently deletes a conversation and all its messages.",
        "operationId": "deleteConversation",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Conversation ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string" },
                    "id": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/reports": {
      "get": {
        "summary": "List report export jobs",
        "description": "Returns paginated report export jobs for the organization.",
        "operationId": "listReports",
        "tags": ["Reports"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of report jobs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "summary": "Create a report export job",
        "description": "Queues a new report generation job. Requires admin access and `reports:write` scope.",
        "operationId": "createReport",
        "tags": ["Reports"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reportType"],
                "properties": {
                  "reportType": {
                    "type": "string",
                    "enum": ["soc2", "iso27001", "ndis", "hipaa", "trust"],
                    "description": "Type of report to generate"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["pdf", "json"],
                    "default": "pdf",
                    "description": "Output format"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "status": { "type": "string", "example": "pending" },
                        "reportType": { "type": "string" },
                        "format": { "type": "string" }
                      }
                    },
                    "meta": { "type": "object" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/reports/{reportId}": {
      "get": {
        "summary": "Get report detail or download",
        "description": "Returns report metadata. Pass `download=true` to redirect to the report file URL.",
        "operationId": "getReport",
        "tags": ["Reports"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "description": "Report export job ID",
            "schema": { "type": "string" }
          },
          {
            "name": "download",
            "in": "query",
            "description": "Set to true or 1 to redirect to the file URL",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Report metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Envelope" }
              }
            }
          },
          "302": {
            "description": "Redirect to report file URL (when download=true)"
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "summary": "List notifications",
        "description": "Returns paginated notifications for the authenticated user. Supports filtering for unread only.",
        "operationId": "listNotifications",
        "tags": ["Notifications"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          {
            "name": "unread",
            "in": "query",
            "description": "If true, return only unread notifications",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated notifications",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "patch": {
        "summary": "Mark notifications as read",
        "description": "Marks specific notifications (by ID array) or all notifications as read.",
        "operationId": "markNotificationsRead",
        "tags": ["Notifications"],
        "security": [{ "apiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Notification IDs to mark as read"
                  },
                  "all": {
                    "type": "boolean",
                    "description": "Set to true to mark all notifications as read",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notifications marked as read",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "updated": { "type": "integer" }
                      }
                    },
                    "meta": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/data-residency": {
      "get": {
        "summary": "Get data residency settings",
        "description": "Returns the organization's current data residency region and all available regions.",
        "operationId": "getDataResidency",
        "tags": ["Data Residency"],
        "responses": {
          "200": {
            "description": "Data residency settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "currentRegion": {
                      "type": "string",
                      "enum": ["au", "us", "eu"]
                    },
                    "availableRegions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "patch": {
        "summary": "Update data residency region",
        "description": "Changes the organization's data residency region. Requires admin role.",
        "operationId": "updateDataResidency",
        "tags": ["Data Residency"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["region"],
                "properties": {
                  "region": {
                    "type": "string",
                    "enum": ["au", "us", "eu"],
                    "description": "Target data residency region"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Region updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "region": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/soc2/readiness": {
      "get": {
        "summary": "Get SOC 2 readiness assessment",
        "description": "Returns the latest SOC 2 readiness score, domain breakdown, and control results.",
        "operationId": "getSoc2Readiness",
        "tags": ["SOC 2"],
        "responses": {
          "200": {
            "description": "SOC 2 readiness assessment",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Soc2Readiness" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/soc2/report": {
      "get": {
        "summary": "Get SOC 2 report data",
        "description": "Returns the latest SOC 2 certification report data including assessment scores, milestones, and score history. Requires GENERATE_CERTIFICATIONS permission.",
        "operationId": "getSoc2Report",
        "tags": ["SOC 2"],
        "responses": {
          "200": {
            "description": "SOC 2 report data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizationId": { "type": "string" },
                    "organizationName": { "type": "string" },
                    "overallScore": { "type": "number" },
                    "domainScores": { "type": "object" },
                    "controlResults": { "type": "array", "items": { "type": "object" } },
                    "milestones": { "type": "array", "items": { "type": "object" } },
                    "scoreHistory": { "type": "array", "items": { "type": "object" } },
                    "assessedAt": { "type": "string", "format": "date-time" },
                    "lastUpdated": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "post": {
        "summary": "Generate SOC 2 report",
        "description": "Triggers generation of a new SOC 2 certification report. Requires GENERATE_CERTIFICATIONS permission.",
        "operationId": "generateSoc2Report",
        "tags": ["SOC 2"],
        "responses": {
          "201": {
            "description": "Report generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "organizationId": { "type": "string" },
                    "report": { "type": "object" },
                    "generatedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/api/v1/certificates": {
      "get": {
        "summary": "List certificates",
        "description": "Returns paginated organization certifications with computed expiry status (active, expiring, expired). Supports filtering by status.",
        "operationId": "listCertificates",
        "tags": ["Certificates"],
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Offset" },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by expiry status",
            "schema": {
              "type": "string",
              "enum": ["active", "expiring", "expired", "unknown"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of certificates",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PaginatedEnvelope" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v1/audit-logs": {
      "get": {
        "summary": "List audit logs",
        "description": "Returns audit log entries for the organization with optional filters by action and date range.",
        "operationId": "listAuditLogs",
        "tags": ["Audit Logs"],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Filter by action type",
            "schema": { "type": "string" }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Filter logs from this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Filter logs until this date (ISO 8601)",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (max 200)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "logs": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AuditLog" }
                    },
                    "total": { "type": "integer" },
                    "limit": { "type": "integer" },
                    "filters": {
                      "type": "object",
                      "properties": {
                        "action": { "type": "string", "nullable": true },
                        "startDate": { "type": "string", "nullable": true },
                        "endDate": { "type": "string", "nullable": true }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "fos_*",
        "description": "FormaOS API key with `fos_` prefix. Pass as `Authorization: Bearer fos_...`"
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of results per page (max 100)",
        "schema": {
          "type": "integer",
          "default": 25,
          "minimum": 1,
          "maximum": 100
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip for pagination",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required -- missing or invalid Bearer token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions for this operation",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request body or parameters",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string", "example": "Rate limit exceeded" },
                "retryAfter": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code or message"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error description"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        },
        "required": ["error"]
      },
      "Envelope": {
        "type": "object",
        "description": "Standard API response envelope",
        "properties": {
          "data": {
            "description": "Response payload"
          },
          "meta": {
            "type": "object",
            "description": "Response metadata"
          }
        }
      },
      "PaginatedEnvelope": {
        "type": "object",
        "description": "Paginated API response envelope",
        "properties": {
          "data": {
            "type": "array",
            "items": { "type": "object" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "offset": { "type": "integer" },
              "limit": { "type": "integer" },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "in_progress", "completed", "blocked"]
          },
          "priority": {
            "type": "string",
            "enum": ["low", "medium", "high", "critical"]
          },
          "due_date": { "type": "string", "format": "date-time" },
          "assigned_to": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "file_name": { "type": "string" },
          "file_type": { "type": "string" },
          "file_size": { "type": "integer" },
          "verification_status": { "type": "string" },
          "uploaded_by": { "type": "string" },
          "verified_by": { "type": "string", "nullable": true },
          "verified_at": { "type": "string", "format": "date-time", "nullable": true },
          "task_id": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ComplianceMetrics": {
        "type": "object",
        "properties": {
          "organizationId": { "type": "string" },
          "complianceScore": { "type": "number", "minimum": 0, "maximum": 100 },
          "riskLevel": { "type": "string" },
          "complianceTrend": { "type": "string" },
          "policies": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "active": { "type": "integer" },
              "coverageRate": { "type": "number" }
            }
          },
          "tasks": {
            "type": "object",
            "properties": {
              "total": { "type": "integer" },
              "completed": { "type": "integer" },
              "pending": { "type": "integer" },
              "overdue": { "type": "integer" },
              "completionRate": { "type": "number" }
            }
          },
          "evidence": {
            "type": "object",
            "properties": {
              "collected": { "type": "integer" },
              "required": { "type": "integer" },
              "completionRate": { "type": "number" }
            }
          },
          "anomalies": { "type": "array", "items": { "type": "object" } },
          "lastUpdated": { "type": "string", "format": "date-time" }
        }
      },
      "Control": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "code": { "type": "string" },
          "title": { "type": "string" },
          "category": { "type": "string" },
          "framework_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "evidence_status": {
            "type": "object",
            "properties": {
              "approved": { "type": "integer" },
              "pending": { "type": "integer" },
              "rejected": { "type": "integer" }
            }
          },
          "evaluation": {
            "type": "object",
            "nullable": true,
            "properties": {
              "control_key": { "type": "string" },
              "status": { "type": "string" },
              "compliance_score": { "type": "number" },
              "evaluated_at": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "provider": {
            "type": "string",
            "enum": ["zapier", "make", "custom"]
          },
          "events": {
            "type": "array",
            "items": { "type": "string" }
          },
          "enabled": { "type": "boolean" },
          "retry_count": { "type": "integer" },
          "description": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": ["name", "url", "events"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 2048,
            "description": "Must be HTTPS (or localhost for development)"
          },
          "provider": {
            "type": "string",
            "enum": ["zapier", "make", "custom"],
            "default": "custom"
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": {
              "type": "string",
              "enum": [
                "member.added",
                "member.removed",
                "task.created",
                "task.completed",
                "evidence.uploaded",
                "evidence.verified",
                "policy.published",
                "incident.created",
                "compliance.score_changed"
              ]
            }
          },
          "enabled": {
            "type": "boolean",
            "default": true
          },
          "retry_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10,
            "default": 3
          },
          "headers": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Custom HTTP headers sent with each delivery"
          },
          "description": {
            "type": "string",
            "maxLength": 1000
          }
        }
      },
      "WebhookUpdate": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 1, "maxLength": 200 },
          "url": { "type": "string", "format": "uri", "maxLength": 2048 },
          "provider": { "type": "string", "enum": ["zapier", "make", "custom"] },
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "items": { "type": "string" }
          },
          "enabled": { "type": "boolean" },
          "retry_count": { "type": "integer", "minimum": 0, "maximum": 10 },
          "headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "description": { "type": "string", "maxLength": 1000 }
        }
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "webhook_id": { "type": "string" },
          "event": { "type": "string" },
          "status": { "type": "string" },
          "response_code": { "type": "integer", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "org_id": { "type": "string" },
          "name": { "type": "string" },
          "prefix": {
            "type": "string",
            "description": "First characters of the key for identification (e.g. fos_abc...)"
          },
          "scopes": {
            "type": "array",
            "items": { "type": "string" }
          },
          "rate_limit": { "type": "integer" },
          "last_used": { "type": "string", "format": "date-time", "nullable": true },
          "created_by": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "revoked_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "organization_id": { "type": "string" },
          "user_id": { "type": "string" },
          "title": { "type": "string" },
          "archived_at": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "conversation_id": { "type": "string" },
          "role": {
            "type": "string",
            "enum": ["user", "assistant"]
          },
          "content": { "type": "string" },
          "metadata": { "type": "object", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "AuditLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "action": { "type": "string" },
          "target": { "type": "string" },
          "actor_email": { "type": "string" },
          "domain": { "type": "string" },
          "severity": { "type": "string" },
          "metadata": { "type": "object" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Soc2Readiness": {
        "type": "object",
        "properties": {
          "organizationId": { "type": "string" },
          "overallScore": { "type": "number" },
          "totalControls": { "type": "integer" },
          "satisfiedControls": { "type": "integer" },
          "domainScores": { "type": "object" },
          "controlResults": {
            "type": "array",
            "items": { "type": "object" }
          },
          "assessedAt": { "type": "string", "format": "date-time" },
          "lastUpdated": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
